# normal variables
LCL_TIMEZONE=Japan

LCL_JWT_EXPIRE_SEC=21600
LCL_SALT_ROUND=10
LCL_FULL_LOG=true
LCL_API_HOST=127.0.0.1
LCL_API_PORT=3000
LCL_JWT_EXPIRE_TIME=10d

LCL_EXPIRED_VERIFY_CODE=7200000
LCL_EXPIRED_RESET_PASSWORD_CODE=3600000
LCL_EXPIRED_REGISTER_LOGIN_CODE=2

LCL_MAX_END_TIME_HOUR_SCHEDULE=15
LCL_MIN_START_TIME_HOUR_SCHEDULE=8

LCL_PATH_LOG=wino-log

# secret variables
LCL_MYSQL_HOST=localhost
LCL_MYSQL_PORT=3306
LCL_MYSQL_USER=root
LCL_MYSQL_PASS=minhsangqn
LCL_MYSQL_DB=wino
LCL_JWT_SECRET=345678900589609876890

LCL_REDIS_HOST=127.0.0.1
LCL_REDIS_PORT=6379
LCL_REDIS_PASS=sOmE_sEcUrE_pAsS
